*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:rgb(204, 204, 204);
    font-family:'lato';
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}


main .contenido-header{
    margin:120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
main .contenido-main .titulo-main{
    font-size: 120px;
    text-align: center;
    color: #fff;
    text-align: center;
}

main .contenido-main .linea-main{
    width: 700px;
    margin: auto;
    height:2px;
    background: #15a4fa;
    margin-bottom:30px;
    text-align: center;
}

main .contenido-main .texto-main{
    color:rgb(87, 65, 214);
    font-weight: 400;
    font-size:25px;
    text-align: center;
}

header .menu{
    margin:30px 0;
    display:flex;
    justify-content: center;
}

header .menu a:hover{
    text-decoration: underline;
}

header .menu a{
    font-size:46px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding:10px 0;
    margin:0 15px;
    color:rgb(27, 121, 228);
    text-decoration: none;
}



@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
}

@media screen and (max-width: 350px){
    header .contenido-header .texto-header{
        font-size:15px;
    }
}